html {
    font-size: 20px;
}

ol, ol li {
    font-size: 1.2rem;
    color: gold;
}

ul, ul li {
    font-size: 1.2em;
    color: #f45942;
}

/* 창 크기에 따라서 값이 변함. 0.0x배
vh는 높이를 의미 vw는 가로를 의미 */
.vh { 
    font-size: 5vh;
    color: rgb(255, 5, 100);
}

.vw {
    font-size: 5vw;
    color: rgba(20, 20, 100, 0.5);
}