* {
    color: crimson;
}

/* 태그 선택자는 전체 셀렉터 보다 개별 셀렉터가 우선순위가 더 높음.
이는 순서를 바꿔도 마찬가지! */
h1 {
    color: darkblue;
}

/* 아이디와 클래스 셀럭터 중 아이디의 우선순위가 더 높다 */
.pink {
    color: pink;
}

#green {
    color: green;
}

/* 클래스와 태그 선택자 중에서 클래스의 우선순위가 더 높다 */
h2 {
    color: black;
}

/* 결과적으로 선택자의 범위가 좁혀질수록 우선순위가 더 높다고 할 수 있다. */

.blue {
    color: blue;
}

.bold {
    font-weight: bold;
}

/* html에서 같은 계층에 위치한 class name 등을 여러가지 가지고 있을때 css에서 각 class에게 적용하는 스타일이
각각 존재한다면? 그 우선순위는 css에서 존재하는 코드의 마지막 내용이 가장 높다.
즉, html은 따로 우선순위에 영향이 없고 css에서 우선순위를 결정한다. */