p, h3 {
    color: darkgray;
}

.black_bg, .white {
    color: white;
    background-color: black;
}

div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.red + .blue + div {
    background-color: purple;
}

/* h1에 붙어있는 p가 있으면 p를 바꾸자 */
h1 + p {
    color: darkgreen;
}

ol > li {
    color: coral;
}

ol#chocolate > li {
    color: chocolate;
}

/* 공백으로 하면 ul tag안에 있는 모든 자식 li들을 대상으로 함 */
ul li {
    color: lime;
}

ul li:nth-of-type(2) {
    color: black;
}